.hero-carousel {
  /* position: absolute; */
  width: 100%;
  height: 100vh - 80px;
}

.carousel-item {
  /* position: relative; */
  /* width: 100%; */
  height: 100%;
  padding: 4rem 2rem;
  background-size: cover;
  z-index: 1;
  background-position: center;
  transition: opacity 0.5s ease-in-out;
}

.carousel-content {
  /* position: absolute;
  top: 40%;
  left: 35%;
  transform: translate(-50%, -50%); */
  width: min(100%, 600px);
  text-align: center;
}

.hero-title {
  font-size: 3.5rem;
  color: rgb(181, 40, 40);
  margin-bottom: 20px;
  /* top: 5%;
  left: 50%;
  height: 60%;
  width: 100%; */
}

.fadeIn {
  animation: fadeIn 1s ease-out;
  margin: 40px;
  font-size: 18px;
  font-weight: 500;
}

.btn {
  padding: 10px 20px;
  background-color: #1219f3;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  top: 60%;
  left: 50%;
  width: 140px;
}

.current-slide {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
